.contacts {

    &__container {
        display: flex;
        gap: 129px;
        padding: 76px 80px 88px 74px;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__images {

    }

    &__img {

        &:hover {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin-bottom: 56px;
        }
    }

    &__map {
        border-radius: 50px;
    }
}

.gmail {
    position: relative;
}

.gmail__active {
    position: absolute;
    bottom: 20.83%;
    height: 48px;
    width: 344px;
    text-align: left;
    letter-spacing: -0.02em;
    font-weight: 500;
    padding: 5px 99px 13px 30px;
    background: #113E3E;
    color: $backgroundColor;
    border-radius: 360px;
}